body {
   margin: 0;
   padding: 0;
   background-color: #282c34;
  color: white;
  min-height: 100vh;
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
  display: flex;
  justify-content: center;
}